$color-white: #fff;
$color-grey: rgb(153, 153, 153);
$color-black-light: rgb(52, 52, 52);
$color-black-dark: rgb(39, 39, 39);
$color-green: #33b249;
$color-blue: #4681f4;
$color-error-red: #ff2c2c;
$bg-color-white: #f6f6f6;
$color-red-light: #ff5f6d;
$color-yellow-light: #ffc371;
$logo-color-orange: #ff5630;
$error-margin-bottom: 1.5rem;
$margin-bottom-small: 2rem;
$margin-top-small: 2rem;
$border-radius-small: 0.7rem;
$border-radius-big: 2rem;
$font-size-title: 3rem;
$font-size-medium: 2.5rem;
$font-size-ingo-message: 2rem;
$error-font-size: 1.3rem;
$error-font-size-large: 1.5rem;

$box-shadow-main: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

$main-font-family: 'Montserrat', sans-serif;
